<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DbDriver" value="MySql" />
    <!--<add key="DataBase" value="jdownloader" />-->
    <add key="DataBase" value="db_a265a4_romanrs" />
    <add key="usertable" value="user" />
    <add key="usertypetable" value="usertype" />
    <add key="linktable" value="link" />
  </appSettings>
  <connectionStrings>
    <!--<add name="MySqlConnection" connectionString="server=localhost;uid=root;pwd=;ConvertZeroDateTime=True;Encrypt=false;CharSet=utf8;" />-->
    <add name="MySqlConnection" connectionString="server=mysql6001.smarterasp.net;uid=a265a4_romanrs;pwd=jdownloader2017;ConvertZeroDateTime=True;Encrypt=false;CharSet=utf8;" />
  </connectionStrings>
</configuration>